*{
    background-color: #1a1c23;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    position: relative;
}


h2{
    margin:10px;

}
body{
    margin: 0px;
    padding:0px;
    width: auto;
}

.container{
    display:grid;
    grid-template-areas: 
    "header" 
    "main"
    "footer";
    margin:0px;
    padding:0px;
}

/* -------------------------------------- HEADER -------------------------------------- */

header{
    grid-area: header;
    background: black;
    border-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    transform: translateX(30px);
    background-color: black;
    
}


nav{
    background-color: #000000;
}
.background-in{
    background: #000000;
    background-color: #000000;

}
.background-trans{
    background: none;
}

h5{
    background: none;
}
p{
    background: none;
}
.black-text{
    color: #000000;
}
.nav__margin{
    margin:10px;
    color: #1a1c23;
    background-color: #1a1c23;
}

.navbar-toggler-icon {
    background-color: #000000;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
    
.nav-item:hover{
     border-color: rgb(95, 2, 2);
}

.nav-link{
     width: auto;
     height:auto;
}

/* --------------------------------------------- HOME -------------------------------------------*/
.cartbien{
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Orbitron , sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: solid 2px white;
}

.publiall{
    display: flex;
    justify-content: center;
}
.publici__img__container{
    position: relative;
    display: flex;
   width: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.publici__img{
    width: 100%;
}

.publici__text__container{
    position: absolute; 
    display: flex;
    flex-direction: column; 
    top:30%;
    left:10%;
    width: auto;
    background: none;
    text-align: center;
}

.publicitext{
    margin:10px;
    font-size: 2.5rem;
    color: white; 
    background: none;
}

main{
    grid-area: main;
    background-color: #1a1c23;
    background: #1a1c23;
    margin: 0px;
    color: #1a1c23;
}

/* -----------------------------------------    CARDS  ----------------------------------------*/
.main__title{
    font-family: Orbitron , sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    border-bottom: solid 2px white;
    padding: 0px 0px 3px 5px;
}

section{
    font-family: Orbitron, sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

article{
    background-color: #000000;
    position: relative;
    margin: 2rem;
    height: 370px;
    width: 320px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-radius: 1rem;
    transition: border 0.25s;
}

article:hover{
    border-color: rgb(0, 0, 100);
}
.card__imgcontainer_prod{
    width: auto;
    height:200px;
    border-radius: 15px 15px 0px 0px;
}
.card__img__prod{
    height: 200px;
    padding: 10px;
    width: auto;
    border-radius: 10px;
}

.card__text__prod{
    background-color: black;
    text-align: center;
    justify-content: center;
    margin: 5px;
    width: auto;
}

.card__price__prod{
    background-color: #000000;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: auto;
}


/* --------------------- HOMEEEE NOTICIAS --------------------*/

.card__imgcontainer_new{
    width: auto;
    height:180px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    background-color: #000000;
}
.card__img__new{
    height: 180px;
    width: auto;
}
.card__text__new{
    background-color: black;
    text-align: center;
    justify-content: center;
    margin: 1rem 3px 3px 3px;
    width: auto;
}
.card__date__new{
    background-color: #000000;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: auto;
}

/* ---------------------------- SERVICIO TÉCNICO -----------------------------------*/
.card__all__serv{
    position: relative;
    background-color: #000000;
    margin: 10px 50px 10px 50px;
    border-style: groove;
    border-color: white;
}

.card__in__serv{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-style: groove;
    border-color: #000000;
}

.card__inimg__serv{
    width: 600px;
    height: auto;
}

.card__intext__serv{
    color:white;
    text-align: center;
    font-size: 50px;
}

/* ------------------------------------ FOOTER --------------------------------------------------- */

footer{
    grid-area: footer;
    font-family: Orbitron , sans-serif;
    justify-content: space-between;
    background-color:rgb(0, 0, 0);
    width:auto;
    height:130px;
    display: flex;
    margin:0px;
}

.footer__textall{
    background-color: #000000;
    width: auto;
    height: auto;
    color:white;
    justify-content: center;
    align-items: center;
}

.footer__text{
    background-color: #000000;
    padding-left: 10px;
}

.footer__text1{
    background-color: #000000;
    padding-left: 10px;
    color: white;
}

.footer__lista{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
}

.footer__item{
    margin:1rem;
}

.footerimg{
    background-color: #000000;
    width: auto;
    height:50px;
    transition: height 0.3s;
}

.footerimg:hover{
    height: 55px;
}

.section__form1{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1a1c23;
    background: #1a1c23;
    font-family: Orbitron, sans-serif;
    text-align: center;
}

/* -------------------------------------- INPUT ------------------------------------------- */

input[type=text] {
   margin: 3px 0px 3px 0px;
   color: white;
}

input[type=email] {
    margin: 3px 0px 3px 0px;
    color: white;
 }

 input[type=number] {
    margin: 3px 0px 3px 0px;
    color: white;
 }
 
 input[type=descrip] {
    margin: 3px 0px 3px 0px;
    color: white;
 }

 input[type=password] {
    margin: 3px 0px 3px 0px;
    color: white;
 }

input[type=search]{
    color: white;
}
input[type=submit]{
    color: white;
}



/*  -----------------------------------------------   MEDIA QUERY    --------------------------------------------*/
@media screen and (max-width: 1400px){
   
    header{
        display: flex;
        flex-direction: column;
    }
}
/**-------------------------------------   1024px -------------------------------**/

@media screen and (max-width: 1024px){
   
    header{
        display: flex;
        flex-direction: column;
    
    }
    .header__logo{
        padding: 10px 10px 10px 10px;
        width: 470px;
        height: auto;
        margin-left: 10px;
        transform: translateX(0px);
    }

    .publici{
        width: 600px;
        height: auto;
    }

    section{
        justify-content: center;
    }

    .card__img__new{
        height: 177px;
        width: 313px;
        border-radius: 14px 14px 0px 0px;
    }

    h1{
        font-size: 1.6rem;
        margin: 5px;
    }

    h2{
        font-size: 1.6rem;
    }

    input[type=text] {
        margin: 3px 0px 3px 0px;
        color: white;
        font-size: 1rem;
     }
     
     input[type=email] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=number] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
      
      input[type=descrip] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=password] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
     input[type=search]{
         color: white;
         font-size: 1rem;
     }
     input[type=submit]{
         color: white;
     }
    .footer__all{
        display: block;
    }
    .footer__text{
        padding-top: 2px;
    }
    .footer__text1{
        margin-top: 10px;
    }
    
    .card__all__serv{
        position: relative;
        background-color: #000000;
        margin: 10px;
        border-style: groove;
        border-color: white;
    }
    
    .card__in__serv{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        border-style: groove;
        border-color: #000000;
    }
    
    .card__inimg__serv{
        width: auto;
        height: 350px;
    }
    
    .card__intext__serv{
        color:white;
        text-align: center;
        padding: 10px;
        font-size: 2rem;
    }

    .footer__lista{
        display: flex;
        background-color: #000000;
        align-items: center;
        justify-content: center;
    }
    
    .footer__item{
        margin:1rem 3rem 1rem 1rem ;
    }
    
    .footerimg{
        background-color: #000000;
        width: auto;
        height:50px;
    }
}



/**-------------------------------------   768px -------------------------------**/



/**768**/

@media screen and (max-width: 768px){
    *{
        background-color: #1a1c23;
    }

    
    .publici__text__container{
        position: absolute; 
        display: flex;
        flex-direction: column; 
        top:30%;
        left:5%;
        width: auto;
        background: none;
        text-align: center;
        
    }
    
    .publicitext{
        margin:10px;
        font-size: 1.5rem;
        color: white; 
        background: none;
    }
    section{
        justify-content: center;
    }
    h1{
        font-size: 1.6rem;
        margin: 5px;
    }

    h2{
        font-size: 1.6rem;
    }

    input[type=text] {
        margin: 3px 0px 3px 0px;
        color: white;
        font-size: 1rem;
     }
     
     input[type=email] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=number] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
      
      input[type=descrip] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=password] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
     input[type=search]{
         color: white;
         font-size: 1rem;
     }
     input[type=submit]{
         color: white;
     }
    footer{
        display: block;
    }
    .footer__text{
        padding-top: 2px;
    }
    .footer__text1{
        margin-top: 10px;
    }
    
    .card__all__serv{
        position: relative;
        background-color: #000000;
        margin: 10px;
        border-style: groove;
        border-color: white;
    }
    
    .card__in__serv{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        border-style: groove;
        border-color: #000000;
    }
    
    .card__inimg__serv{
        width: auto;
        height: 250px;
    }
    
    .card__intext__serv{
        color:white;
        text-align: center;
        padding: 10px;
        font-size: 15px;
    }
    .footer__lista{
        display: flex;
        background-color: #000000;
        align-items: center;
        justify-content: center;
    }
    
    .footer__item{
        margin:1rem 3rem 1rem 1rem ;
    }
    
    .footerimg{
        background-color: #000000;
        width: auto;
        height:50px;
    }
}

/*-------------------------------------   480px -------------------------------*/

/*480*/




/**-------------------------------------   320px -------------------------------**/

/**320**/

@media screen and (max-width: 320px){
    *{
        background-color: #1a1c23;
        
    }

   .header__item1{
    width: 100px;
   }
    
   .publicicontainer{
     height: 200px;
     width: 320px;
    }

    .publiall{
        display: flex;
        justify-content: center;
    }
    .publici__img__container{
        position: relative;
        display: flex;
        max-width: 320px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        clip-path: inset(0% 0% 0% 50%);
        transform: translateX(-70px);
    }
    
    .publici__img{
        width: 320px;
        height: 100px;

    }
    .publici__text__container{
        position: absolute; 
        display: flex;
        flex-direction: row; 
        top:30%;
        left:10%;
        width: auto;
        background: none;
        text-align: center;
        
    }
    
    .publicitext{
        margin:10px;
        font-size: 1rem;
        color: white; 
        background: none;
    }

    main{
        width: 320px;
    }

    section{
        justify-content: center;
        width: 320px;
    }

    .main__title{
        font-size: 1.3rem;
    }

    h1{
        font-size: 1rem;
    }

    h2{
        font-size: 1rem;
    }

    input[type=text] {
        margin: 3px 0px 3px 0px;
        color: white;
        font-size: 1rem;
    }
     
    input[type=email] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
    }
     
    input[type=number] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
    }
      
    input[type=descrip] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
    }
     
      input[type=password] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
    }

    article{
        margin: 1rem;
    }
    
    footer{
        display: block;
        font-size: 0.9rem;
    }
    .footer__text{
        padding-top: 2px;
    }
    .footer__text1{
        margin-top: 10px;
    }

    .card__img__new{
        height: 177px;
        width: 290px;
        border-radius: 14px 14px 0px 0px;
    }
    
    .card__all__serv{
        position: relative;
        background-color: #000000;
        margin: 10px;
        border-style: groove;
        border-color: white;
    }
    
    .card__in__serv{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        border-style: groove;
        border-color: #000000;
    }
    
    .card__inimg__serv{
        width: 160px;
        height: auto;
    }
    
    .card__intext__serv{
        color:white;
        text-align: center;
        padding: 10px;
        font-size: 10px;
    }
    .footer__lista{
        display: flex;
        background-color: #000000;
        align-items: center;
        justify-content: center;
    }
    
    .footer__item{
        margin:1rem 2.5rem 1rem 0rem ;
    }
    
    .footerimg{
        background-color: #000000;
        width: auto;
        height:40px;
    }
}



