@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');


*{
    background-color: #1a1c23;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    position: relative;
}


h2{
    margin:10px;

}
body{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    margin: 0px;
    padding:0px;
    width: auto;
    height: auto;
    background-color: #1a1c23;
}


/* -------------------------------------- HEADER -------------------------------------- */

.header *{
    background-color: #000000;
    grid-area: header;
}


.headerr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    
}


.header-logo{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.header-logo-img{
 width: 70px;
 padding: 0px 0px 10px 0px;
}


.header-logo-title{
    display: flex;
    flex-wrap: wrap;
    color:white;
    padding-left: 3px;
    font-size: 4rem;
    width: auto;
}


.nav-text-m0{
    margin: 0px;
}



nav{
    background-color: #000000;
}

.nav-li{
    height:40px;
}
.background-in{
    background: #000000;
    background-color: #000000;

}

.background-trans{
    background: none;
}

h5{
    background: none;
}
p{
    background: none;
}
.black-text{
    color: #000000;
}
.nav__margin{
    margin:10px;
    color: #1a1c23;
    background-color: #1a1c23;
}

.navbar-toggler-icon {
    background-color: #000000;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
    
.nav-item:hover{
     border-color: rgb(1, 0, 80);
}

/* --------------------------------------------- HOME -------------------------------------------*/
.cartbien{
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Orbitron , sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: solid 2px white;
}

.publiall{
    display: flex;
    justify-content: center;
}
.publici__img__container{
    position: relative;
    display: flex;
   width: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.publici__img{
    width: 100%;
}

.publici__text__container{
    position: absolute; 
    display: flex;
    flex-direction: column; 
    top:30%;
    left:10%;
    width: auto;
    background: none;
    text-align: center;
}

.publicitext{
    margin:10px;
    font-size: 2.5rem;
    color: white; 
    background: none;
}

.mainn *{
    grid-area: main;
    background-color: #1a1c23;
    margin: 1rem 0px 1rem 0px;
}

/* -----------------------------------------    CARDS  ----------------------------------------*/
.main__title{
    font-family: Orbitron , sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    border-bottom: solid 2px white;
    padding: 0px 0px 3px 5px;
}

section{
    font-family: Orbitron, sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

article{
    background-color: #000000;
    position: relative;
    margin: 2rem;
    height: 370px;
    width: 320px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
    overflow: hidden;
    border-radius: 1rem;
    transition: border 0.25s;
}

article:hover{
    border-color: rgb(0, 0, 100);
}
.card__imgcontainer_prod{
    width: auto;
    height:200px;
    border-radius: 15px 15px 0px 0px;
}
.card__img__prod{
    height: 200px;
    padding: 10px;
    width: auto;
    border-radius: 10px;
}

.card__text__prod{
    background-color: black;
    text-align: center;
    justify-content: center;
    margin: 5px;
    width: auto;
}

.card__price__prod{
    background-color: #000000;
    text-align: left;
    position: absolute;
    font-size: 1.2rem;
    bottom: 10px;
    left: 1rem;
    width: auto;
}


/* --------------------- HOMEEEE NOTICIAS --------------------*/

.card__imgcontainer_new{
    width: auto;
    height:180px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    background-color: #000000;
}
.card__img__new{
    height: 180px;
    width: auto;
}
.card__text__new{
    background-color: black;
    text-align: center;
    justify-content: center;
    margin: 1rem 3px 3px 3px;
    width: auto;
}
.card__date__new{
    background-color: #000000;
    text-align: left;
    position: absolute;
    font-size: 1.2rem;
    bottom: 10px;
    left: 1rem;
    width: auto;
}

/* ---------------------------- SERVICIO TÉCNICO -----------------------------------*/
.card__all__serv{
    display: flex;
    flex-direction: column;
    background-color: #1a1c23;
    margin: 1rem;
}

.card__in__serv{
    justify-content: space-around;
    align-items:center ;
    display: flex;
    border: solid 2px white;

}

.card__in__serv1{
    justify-content: space-around;
    align-items:center ;
    display: flex;
    flex-direction: row-reverse;
    border: solid 2px white;
}

.card__inimg__serv{
    width: 700px;
    height: auto;
    margin:1rem;
}

.card__intext__serv{
    color:white;
    text-align: center;
    font-size: 30px;
    width: auto;
    
}

/* ------------------------------------ FOOTER --------------------------------------------------- */

.footer *{
    padding: 10px 0px;
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

.container *{
    background-color: #1a1c23;
}

.roww{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul{
    list-style: none;
}


.footer-col{
    color: white;
    margin: 0px;
    padding: 0rem;
    background-color:none;
    display:inline-block;
    width: auto;;
}

.footer-col ul{
    
    padding:0rem;
    margin: 0px;
}
.footer-col li{
    padding:0rem;
    margin: 0;
    color:grey;
    transition: all 0.5s;
}

.footer-col li:hover{
    padding-left: 1px;
    color: white;
}

.footer-col a {
    margin:0;
    padding: 0;
    text-decoration: none;
    color:grey;
    transition: all 0.5s;
}

.footer-col a:hover{
    color: white;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
    position: relative;
    padding: 10px 0px 10px 0px;
    text-align: start;
    text-transform: capitalize;
    border-bottom: solid white 2px;
  
}

.social-links{
    padding: 0;
}

.footer-col .social-links ul{
    display: flex;
    flex-direction: row;

}


.footer-col .social-links a{
    height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    background-color:grey;
    margin-right: 10px;
    color:white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s ;
}

.footer-col .social-links a:hover{
    background-color: white;
}

.footer-col .social-links i{
    text-align: center;
    height: 40px;
    width: 40px;
    text-align: center;
    color:white;
    background: none;
    transition: all 0.5s;
}

.footer-col .social-links i:hover{
    color:black;
    
}
    
/* -------------------------------------- INPUT ------------------------------------------- */

input[type=text] {
   margin: 3px 0px 3px 0px;
   color: white;
}

input[type=email] {
    margin: 3px 0px 3px 0px;
    color: white;
 }

 input[type=number] {
    margin: 3px 0px 3px 0px;
    color: white;
 }
 
 input[type=descrip] {
    margin: 3px 0px 3px 0px;
    color: white;
 }

 input[type=password] {
    margin: 3px 0px 3px 0px;
    color: white;
 }

input[type=search]{
    color: white;
}
input[type=submit]{
    color: white;
}

/*----------------- MIMENDO -----------------*/

.section__form1 *{
   background-color: #1a1c23;
   color: white;
}

.section__form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section__form1 div h2{
    padding: 0px 1rem 0px 1rem;
}

.form-label{
    font-size: 2rem;
}

/*  -----------------------------------------------   MEDIA QUERY    --------------------------------------------*/
@media screen and (max-width: 1400px){
   
    .headerr{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-logo{
        display:flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
    }
}
/**-------------------------------------   1024px -------------------------------**/

@media screen and (max-width: 1024px){

    .card__in__serv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center ;
        border-style: groove;
        border-color: #000000;
        overflow: hidden;
        
    }
    .card__in__serv1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center ;
        border-style: groove;
        border-color: #000000;
        overflow: hidden;
        
    }
    .card__inimg__serv{
        width: 600px;
        height: auto;
        margin-top: 1rem;
    }



    .publici{
        width: 600px;
        height: auto;
    }

    section{
        justify-content: center;
    }

    .card__img__new{
        height: 177px;
        width: 313px;
        border-radius: 14px 14px 0px 0px;
    }

    h1{
        font-size: 1.6rem;
        margin: 5px;
    }

    h2{
        font-size: 1.6rem;
    }

    input[type=text] {
        margin: 3px 0px 3px 0px;
        color: white;
        font-size: 1rem;
     }
     
     input[type=email] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=number] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
      
      input[type=descrip] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=password] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
     input[type=search]{
         color: white;
         font-size: 1rem;
     }
     input[type=submit]{
         color: white;
     }

    .card__all__serv{
        position: relative;
        background-color: #1a1c23;
        margin: 10px;
    }
    
    .card__in__serv{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        border-style: groove;
        border-color: #000000;
    }
    
    .card__inimg__serv{
        height: 350px;
    }
    
    .card__intext__serv{
        color:white;
        text-align: center;
        padding: 10px;
        font-size: 2rem;
    }

}



/**-------------------------------------   768px -------------------------------**/



/**768**/

@media screen and (max-width: 768px){
    *{
        background-color: #1a1c23;
    }

    .header-logo-title{
        display: flex;
        flex-wrap: wrap;
        color:white;
        padding-left: 3px;
        font-size: 2rem;
        width: auto;
    }
    .header-logo-img{
        width: 40px;
        padding: 0px 0px 10px 0px;
       }

    .roww{
        display: flex;
        flex-direction: column;
        padding: 0px 1rem 0px 1rem;
    }


    section{
        justify-content: center;
    }
    h1{
        font-size: 1.6rem;
        margin: 5px;
    }

    h2{
        font-size: 1.6rem;
    }

    input[type=text] {
        margin: 3px 0px 3px 0px;
        color: white;
        font-size: 1rem;
     }
     
     input[type=email] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=number] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
      
      input[type=descrip] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
      input[type=password] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
      }
     
     input[type=search]{
         color: white;
         font-size: 1rem;
     }
     input[type=submit]{
         color: white;
     }
    
    .card__all__serv{
        justify-content: center;
        position: relative;
        background-color: #1a1c23;
        margin: 10px;
    }
    
    .card__inimg__serv{
        width: auto;
        height: 250px;
    }
    
    .card__intext__serv{
        color:white;
        text-align: center;
        padding: 10px;
        font-size: 15px;
    }

    .footer-col{
        padding-bottom: 16px;
    }
}



/**-------------------------------------   320px -------------------------------**/

/**320**/

@media screen and (max-width: 320px){
    *{
        background-color: #1a1c23;  
    }


    section{
        justify-content: center;
        width: 320px;
    }

    .main__title{
        font-size: 1.3rem;
    }

    h1{
        font-size: 1rem;
    }

    h2{
        font-size: 1rem;
    }

    input[type=text] {
        margin: 3px 0px 3px 0px;
        color: white;
        font-size: 1rem;
    }
     
    input[type=email] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
    }
     
    input[type=number] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
    }
      
    input[type=descrip] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
         width: 300px;
         height: 200px;
    }
     
    input[type=password] {
         margin: 3px 0px 3px 0px;
         color: white;
         font-size: 1rem;
    }

    article{
        margin: 1rem;
    }
    

    .card__img__new{
        height: 177px;
        width: 290px;
        border-radius: 14px 14px 0px 0px;
    }
    
    .card__all__serv{
        position: relative;
        margin: 10px;
    }
    
    .card__in__serv{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        border-style: groove;
        border-color: #000000;
    }
    
    .card__inimg__serv{
        width: 160px;
        height: auto;
    }
    
    .card__intext__serv{
        color:white;
        text-align: center;
        padding: 10px;
        font-size: 10px;
    }

}
