.header *{
    background-color: #000000;
    grid-area: header;
    width: auto;
}
.icoham{
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    border:white;
    border-radius: 12px;
  }
.header{
    background-color: black;
    width: auto;
    .headerr{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        .header-logo{
            display:flex;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;
            &-img{
                width: 70px;
                padding: 0px 0px 10px 0px;
            }
            &-title{
                display: flex;
                flex-wrap: wrap;
                color:white;
                padding-left: 3px;
                font-size: 4rem;
                width: auto;
                }
            }
        
    }
}

nav{
    background-color: #000000;
    width: auto;
    .nav-li{
        height:40px;
    }  
}         

    
